<div class="buffer"></div>
<div class="centered">
  <router-outlet></router-outlet>

  <p-card styleClass="dark-card">
    <p-table [value]="videos">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Link</th>
          <th>Tags</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-video>
        <tr>
          <td>{{video.title}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
